In [ ]:
print('hello\bworld')

helloworld

In [ ]:
first_number = str(input('Enter first number'))
second_number = str(input('Enter second number'))
sum = (first_number + second_number)
print('Addition of two number is:',sum)

Enter first number6
Enter second number8
Addition of two number is: 68

In [ ]:
#correction
first_number = int(input('Enter first number'))
second_number = int(input('Enter second number'))
sum = (first_number + second_number)
print('Addition of two number is:',sum)

Enter first number6
Enter second number8
Addition of two number is: 14

In [ ]:
age = 23

message = 'Happy'+ age +'rd Birthday!'
print(message)

TypeError: ignored

In [ ]:
#correction
age = '23'
message = 'Happy '+ age +'rd Birthday!'
print(message)

Happy 23rd Birthday!

In [ ]:
a = 5
print('a=',sep='0',end=',')

a=,

In [ ]:
#correction
a = 5
print('a=',a,sep='0',end=',')

a=05,

In [ ]:
name = input('Enter Employe Name')
salary = input('Enter salary')
company = input('Enter Company Name')
print('Printing Empoloyee Details')
print('Name\t','Salary\t','Company\t')
print(name   ,salary,    company,sep='')

Enter Employe Namef
Enter salary4
Enter Company Namegg
Printing Empoloyee Details
Name	 Salary	 Company
f4gg

In [ ]:
n1 = int(input('Enter n1 value'))
n2 = int(input('Enter n2 value'))

Enter n1 value56
Enter n2 value787

In [ ]:
Name = input('Enter students name')
DOB = input('Enter date of birth')
Roll_No = input('Enter roll number')
Section = input('Enter section' )
Percentage = input('Enter %')
Matriculation = input('Enter matriculation grade')
Intermediate = input('Emnter intermediate grade')

Enter students nameabdul rehman
Enter date of birth04/05/2005
Enter roll number138
Enter sectionB
Enter %90
Enter matriculation gradeA+
Emnter intermediate gradeA-one